---
- name: Instalar servidor Apache
  yum:
          name: httpd
          state: latest

- name: Create virtualhosts config directory
  file:
          path: /etc/httpd/vhost.d
          state: directory
          mode: '0755'
          owner: root

- name: Add virtualhost config directory to httpd.conf
  lineinfile:
          path: /etc/httpd/conf/httpd.conf
          line: IncludeOptional vhost.d/*.conf
